$header-heading-color: {{ site.color.header | default: "#fff" }} !default;
$header-bg-color: {{ site.color.gradient_right | default: "#159957" }} !default;
$header-bg-color-secondary: {{ site.color.gradient_left | default: "#1a1c27" }} !default;
